@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: white !important;
}

div.swiper-pagination.swiper-pagination-progressbar {
  top: inherit;
  bottom: 0;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

.hamburger {
  font-size: 28px;
  color: white;
  display: none;
}
.header_content {
  display: block;
}

@media screen and (width<600px) {
  .hamburger {
    display: block;
  }
  .header_content {
    display: none;
  }
}
